body {
  margin: 0;
  overflow: hidden;
}
/* HOME */
#homeContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: black;
}
#orbs {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-left: 12vw;
  margin-bottom: 2vw;
}
#birth {
  display: flex;
}
#loop {
  display: none;
}
#menuOptionsContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 12vw;
  list-style-type: none;
  opacity: 0;
  transition: opacity 1s linear;
}

li {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: gray;
  font-size: xx-large;
  margin-bottom: 12px;
  cursor: pointer;
  text-decoration: none;
}
li:hover {
  color: #57baf4;
}

#bar1 {
  height: 20vh;
}
#bar2 {
  height: 40vh;
  transition-delay: 200ms;
}
#bar3 {
  height: 60vh;
  transition-delay: 400ms;
}
#bar4 {
  height: 80vh;
  transition-delay: 600ms;
}
#bar5 {
  height: 100vh;
  transition-delay: 800ms;
}

.transitionAnimation {
  z-index: 2;
  width: 100vw;
  position: absolute;
  transform-origin: 0 0;
  transform: translateX(-100vw);
  transition-timing-function: ease-in-out;
  transition-property: transform;
  transition-duration: 1200ms;
  background-color: #57baf4;
}

/* ABOUT */
#About {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: none;
  flex: 1;
}

.backArrow {
  z-index: 1;
  height: 6vh;
  width: 6vw;
  margin-left: 3vw;
  margin-top: 4vh;
  position: absolute;
  cursor: pointer;
}

.backArrow:hover {
  filter: invert(70%) sepia(18%) saturate(6215%) hue-rotate(178deg) brightness(106%) contrast(91%);
}

#aboutMeContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#pfp {
  height: 200px;
  width: 200px;
}

p {
  color: rgb(213, 225, 250);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: 50vw;
}

/* RESUME */
#Resume {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: none;
  flex: 1;
}
#fileContainer {
  margin: 7.5vh 10vw;
  height: 85vh;
  width: 100vw;
  border: none;
}