body {
  margin: 0;
  overflow: hidden;
}
#container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex: auto;
  background-color: black;
}
#orbs {
  flex: 1;
}
#menuOptionsContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.menuOptions {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: gray;
  font-size: large;
  text-align:left;
  margin-bottom: 12px;
  cursor: pointer;
  text-decoration: none;
}

.menuOptions:hover {
  color: #57baf4;
}